@model Data.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h4 class="card-title">Create a Category</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create" class="forms-sample" asp-area="Admin">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">City</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Status" class="form-label">Status</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-action="GetAll" asp-area="Admin" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>

