@model Data.Models.Address

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h4 class="card-title">Create a Address</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create" asp-area="Admin" class="forms-sample">
            <div class="mb-3">
                <label asp-for="City" class="form-label">City</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="District" class="form-label">District</label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Detailed_address" class="form-label">Detailed Address</label>
                <input asp-for="Detailed_address" class="form-control" />
                <span asp-validation-for="Detailed_address" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-action="GetAll" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>

